.change-max-height-experience {
    animation: expandBentoContainer-experience 1s ease forwards;
}
.change-max-height-home-to-experience {
    animation: expandBentoContainer-home-to-experience 1s ease forwards;
}
.change-max-height-project-to-experience {
    animation: expandBentoContainer-project-to-experience 1s ease forwards;
}
.shrink-left-col-experience {
    animation: shrinkWidth-left-col-experience 1s ease forwards;
}
.shrink-top-row-experience {
    animation: shrinkHeight-top-row-experience 1s ease forwards;
}
.shrink-bottom-row-experience {
    animation: shrinkHeight-bottom-row-experience 1s ease forwards;
}
.shrink-right-col-experience {
    animation: shrinkWidth-right-col-experience 1s ease forwards;
}

@keyframes expandBentoContainer-home-to-experience {
    from {
        max-height: 75vh;
    }
    to {
        max-height: 90vh;
    }
}
@keyframes expandBentoContainer-project-to-experience {
    from {
        max-height: 98vh;
    }
    to {
        max-height: 90vh;
    }
}

@keyframes expandBentoContainer-experience {
    to {
        max-height: 90vh;
    }
}

@keyframes shrinkHeight-top-row-experience {
    /* from {
        flex: 2;
    } */
    to {
        flex: 0.05;
    }
}
@keyframes shrinkWidth-left-col-experience {
    /* from {
        flex: 2;
    } */
    to {
        flex: 0; /* Final flex value when expanded */
    }
}

@keyframes shrinkWidth-right-col-experience {
    /* from {
        flex: 0;
    } */
    to {
        flex: 0; /* Final flex value when expanded */
    }
}
  
@keyframes shrinkHeight-bottom-row-experience {
    /* from {
        flex: 0;
    } */
    to {
        flex: 0.1;
    }
}
