.bento-container {
    background-color: #000;
    width: 70vw;
    height: 100vh;
    padding: 1em;
    display: flex;
    overflow: hidden;
    gap: 1em;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-height: 100%; /* Prevents the column from expanding */
    overflow: hidden; /* Prevents child elements from expanding beyond the container */
}

.col-left {
    flex: 2;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col-right{
    flex: 1;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.flex-row{
    display: flex;
    flex: 1;
    border: 2px solid red;
    border-radius: 2em;
    gap: 1em;
    max-height: 100%; /* Prevents the column from expanding */
    overflow: hidden; /* Prevents child elements from expanding beyond the container */
}


.row-col{
    flex: 1;
    border: 2px solid red;
    border-radius: 2em;
}

.top{
    flex: 2;
    display: flex;
    gap: 1em;
}

.bottom{
    flex: 1;
    display: flex;
    gap: 1em;
}

.medium-long{
    flex: 3;
}

.small-long{
    flex: 1;
}

.small-tall{
    flex: 0.5;
}

.next-to-small-tall{
    flex: 3.5;
}
