.bento-container-wrapper{
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bento-container {
    background-color: #000;
    display: flex;
    max-height: 75vh;
    max-width: 98vw;
    gap: 1em;
    flex: 1;
}

.card-container-n {
    border-radius: 2em;
    max-height: 100%;
    max-width: 100%;
    border: 2px solid red;
    visibility: hidden;
    position: relative;
}

.card-container{
    border-radius: 2em;
    max-height: 100%;
    max-width: 100%;
    border: 2px solid red;
    visibility: hidden;
    position: relative;
    overflow: auto;
}

.flex-col{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 100%;
    max-height: 100%; /* Prevents the column from expanding */
}

.flex-row{
    display: flex;
    border-radius: 2em;
    gap: 1em;
    max-width: 100%;
    max-height: 100%; /* Prevents the column from expanding */
}

/* bento hierarchy */
.h-column-left-1{
    /* flex: 2; */
    flex: 0.2;
}

.h-column-right-1{
    flex: 1;
}

.h-top-row-2{
    flex: 1;
}

.h-bottom-row-2{
    flex: 1;
}

.h-music-column-3{
    flex: 1;
}

.h-container-of-video-and-award-3{
    flex: 1;
}

.h-award-4{
    flex: 1;
}

.h-video-4{
    flex: 3;
}

.h-language-column-3{
    flex: 1;
}

.h-description-column-3{
    flex: 7;
}

.h-picture-row-2{
    /* flex: 2; */
    flex: 0.5;
}

.h-terminal-row-2{
    flex: 1;
    display: flex;
    visibility: visible;
}

/* bottom and right row and column to center terminal in index */
.filler-bottom-row {
    border: 2px solid red;
    display: flex;
    border-radius: 2em;
    max-height: 100%;
    flex: 0.25;
}
.filler-right-col {
    border: 2px solid red;
    display: flex;
    border-radius: 2em;
    max-width: 100%;
    flex-direction: column;
    flex: 0.2;
}

/* collapse animation */
.change-max-height {
    animation: expandBentoContainer 0.75s ease forwards;
}
.expand-left-col {
    animation: expandWidth 0.75s ease forwards;
}
.expand-top-row {
    animation: expandHeight 0.75s ease forwards;
}
.collapse-bottom-row {
    animation: shrinkHeight 0.75s ease forwards;
}
.collapse-right-col {
    animation: shrinkWidth 0.75s ease forwards;
}

@keyframes expandBentoContainer {
    from {
        max-height: 75vh;
    }
    to {
        max-height: 98vh;
    }
}

@keyframes shrinkWidth {
    from {
        flex: 0.2;
    }
    to {
        flex: 0;
    }
}
@keyframes shrinkHeight {
    from {
        flex: 0.25;
    }
    to {
        flex: 0;
    }
}
@keyframes expandWidth {
    from {
      flex: 0.2;
    }
    to {
      flex: 2; /* Final flex value when expanded */
    }
  }
  
@keyframes expandHeight {
  from {
    flex: 0.5;
  }
  to {
    flex: 2; /* Final flex value when expanded */
  }
}

