.change-max-height-experience {
    animation: expandBentoContainer-experience 0.75s ease forwards;
}
.shrink-left-col-experience {
    animation: shrinkWidth-experience 0.75s ease forwards;
}
.shrink-top-row-experience {
    animation: shrinkHeight-top-row-experience 0.75s ease forwards;
}
.shrink-bottom-row-experience {
    animation: shrinkHeight-bottom-row-experience 0.75s ease forwards;
}
.shrink-right-col-experience {
    animation: shrinkWidth-experience 0.75s ease forwards;
}

@keyframes expandBentoContainer-experience {
    to {
        max-height: 90vh;
    }
}

@keyframes shrinkHeight-top-row-experience {
    to {
        flex: 0.05;
    }
}
@keyframes shrinkWidth-experience {
    to {
        flex: 0.1; /* Final flex value when expanded */
    }
}
  
@keyframes shrinkHeight-bottom-row-experience {
    to {
        flex: 0.1;
    }
}
