@keyframes hoverBentoBox {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        transform: scale(1.07);
        visibility: visible;

    }
}

@keyframes return-from-hover-description {
    from {
        transform: scale(1.05);
    }
    to {
        transform: scale(1);
    }
}

.hover-card:hover {
    animation: hoverBentoBox 0.5s ease-in-out forwards;
}

.return-from-hover-description {
    animation: return-from-hover-description 0.5s ease-in-out forwards;
}

.card-visible {
    visibility: visible;
    opacity:1;
}

