.music-container {
    display: flex;
    flex-direction: column; /* Stack image and buttons vertically */
    justify-content: center; /* Center everything vertically */
    align-items: center; /* Center everything horizontally */
    height: 100%;
}

.music-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-top: 0.3rem; /* Adjust space between image and buttons */
}

.music-image img {
    height: 100%; 
    width: 100%; 
    object-fit: contain; 
}

.music-image-image {
    height: 100%; 
    width: 100%; 
    padding: 0;
    object-fit: contain; 
}

.music-button-container {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
    margin-top: 0.3rem;
    gap: 1.5rem; /* Add space between the buttons */
    height: 20%; /* Allow the container to adjust height based on content */
}

.music-button-container img {
    height: 4vw;
    width: 4vw;
}

/* change button color */
.button-orange > img {
    filter: invert(31%) sepia(94%) saturate(747%) hue-rotate(-10deg) brightness(85%) contrast(100%);
}

.glow-pulse {
    animation: glow-pulse 3s infinite;
}

.next-music-button {
    padding: 4px;
}

@keyframes glow-pulse {
    0% { 
        transform: scale(1.2);
        opacity: 0.8;
        filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(360deg) brightness(105%) contrast(110%);
    }
    50% { 
        transform: scale(1.0);
        filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(0deg) brightness(105%) contrast(110%);

    }
    100% { 
        transform: scale(1.2);
        opacity: 0.8;
        filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(360deg) brightness(105%) contrast(110%);
    }
}
