.music-container {
    display: flex;
    flex-direction: column; /* Stack image and buttons vertically */
    justify-content: center; /* Center everything vertically */
    align-items: center; /* Center everything horizontally */
    height: 100%;
}

.music-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-top: 0.3rem; /* Adjust space between image and buttons */
}

.music-image img {
    height: 100%; /* This makes the image fill the height of its container */
    width: 100%; /* This makes the image fill the width of its container */
    object-fit: contain; /* This maintains the image's aspect ratio */
}

.music-button-container {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
    margin-top: 0.3rem;
    gap: 1.5rem; /* Add space between the buttons */
    height: 20%; /* Allow the container to adjust height based on content */
}

.music-button-container img {
    height: 4vw;
    width: 4vw;
}

/* change button color */
.button-orange > img {
    filter: invert(31%) sepia(94%) saturate(747%) hue-rotate(-10deg) brightness(85%) contrast(100%);
}

