@keyframes song-shift-left {
    0% {
        transform: translateX(0);
        visibility: visible;
    }
    50% {
        transform: translateX(-100vw);
        visibility: hidden;
    }
    50.1% {
        transform: translateX(100vw);
        visibility: hidden;
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes song-shift-right {
    0% {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
    100% {
        opacity: 1;
        transform: translateX(100vw);
        visibility: hidden;
    }
}

@keyframes song-shift-left-visible {
    0% {
        transform: translateX(200vw);
        visibility: hidden;
    }
    100% {
        transform: translateX(100vw);
        visibility: visible;
    }
}

.song-shift-left {
    animation: song-shift-left 1s ease-in-out forwards; /* Retain final state */
}

.song-shift-right {
    animation: song-shift-right 1s ease-in-out forwards; /* Retain final state */
}

